$gris: #444;
$bleu: #0d6efd;
.accordion{
    background-color: white;
}
.lien-contact{
    text-decoration: none;
    margin: 10px;
    color: $bleu;
}

.inter-ligne{
    line-height: 0.5rem;
}

.lien-pixabay{
    margin: 0;
    color: $bleu;
    text-decoration: none;
    
}